.pagination
  .panination-inner
    .panination-content(v-if="totalPages>0")
      ul
        li(@click.prevent="currentPageHandler(1)"
            v-if="totalPages>1")
          a 
            span 最前頁
            i.fas.fa-chevron-left
            i.fas.fa-chevron-left
        li(@click.prevent="pageHandler(-1)" 
            v-if="totalPages>1")
          a 
            span 上一頁
            i.i.fas.fa-chevron-left
        li.lg-page(v-for="num in pagination"
            @click.prevent="currentPageHandler(num)"
            :class="{'active':(curpage===(num))}"
            )
          a {{num}}
        li.sm-page(:class="{'active':curpage}") 
          a {{ curPage }}
        li(@click.prevent="pageHandler(+1)"  
            v-if="totalPages>1")
          a 
            span 下一頁
            i.fas.fa-chevron-right
        li(@click.prevent="currentPageHandler(totalPages)" 
            v-if="totalPages>1")
          a 
            span 最後頁 
            i.fas.fa-chevron-right
            i.fas.fa-chevron-right