.item-detail
  .item-inner
    .item-title {{ obj.Name}}
    .item-add 
      i.fas.fa-map-marker-alt
      span {{ obj.Add}}
    .item-desc {{ obj.Description}}
    .item-img(:style="{backgroundImage: `url(${obj.Picture1})`}")
  .go-back(@click="goBack")
    span 返回搜尋結果

