.list-wrap
  .list(v-if='hasData')
    .search-info(v-if="searchInfo") "{{ input }}" 搜尋結果，共{{filterControl.length}}筆符合
    .list-wrap
      .list-panel(v-for="(item,index) in renderArray"
                  :id="item._id"
                  :key="index"
                  @click="clickId"
                  v-if="searchResult")
        .panel-inner
          .image
            .img-inner(:style="{backgroundImage:`url(${item.Picture1})`}")
          .text
            .text-inner
              .title {{item.Name}}
              .add 
                i.fas.fa-map-marker-alt
                span.large {{item.Add}}
                span.small {{item.Add.substr(0,6)}}
              .desc.large {{ item.Description.substr(0,50)}}... 
              .desc.small {{ item.Description.substr(0,25)}}... 
    .no-result(v-if="!searchResult") 查無符合結果
  .list(v-if='!hasData')
    .list-wrap.loading
      .loader-circle

  