header.header
  .header-inner
    .logo(@click="init")
      img(src="../../assets/images/logo.svg", 
          alt="header-logo",
          style="{width:100%}")
    .search-bar
      input.search-input(type="text"
                          v-model="searchInput"
                          placeholder="請輸入關鍵字"
                          @keyup.enter="searchHandler")  
      .search-btn(@click="searchHandler")
        span 搜
        span 尋 
        //(href="@/src/components/views/HomePage/teplate.pug")  
  